{% extends 'account/base_auth.html' %}
{% load i18n static %}
{% url 'account_change_password' as change_action %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block auth_width_class %}auth-page-inner--wide{% endblock %}
{% block auth_title %}{% trans "Change Password" %}{% endblock %}
{% block auth_content %}
{% include 'partials/auth_form.html' with form=form form_action=change_action submit_label=_('Change Password') %}
{% endblock %}
{% block auth_footer %}
<p class="auth-form-footer text-center mb-0">
    <a href="{% url 'account_reset_password' %}" class="auth-link">{% trans "Forgot Password?" %}</a>
</p>
{% endblock %}
{% block auth_extra_js %}
<script src="{% static 'js/auth-forms.js' %}" defer></script>
{% endblock %}
