{% extends 'account/base_auth.html' %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block auth_icon %}
<div class="auth-status-icon auth-status-icon--success">
    <i class="bi bi-shield-check" aria-hidden="true"></i>
</div>
{% endblock %}
{% block auth_title %}{% trans "Password changed" %}{% endblock %}
{% block auth_subtitle %}
<p class="auth-form-subtitle">{% trans "Your password is now changed." %}</p>
{% endblock %}
{% block auth_content %}
<a href="{% url 'account_login' %}" class="btn btn-primary btn-lg w-100">{% trans "Sign in" %}</a>
{% endblock %}
