{% extends 'account/base_auth.html' %}
{% load i18n static %}
{% url 'account_set_password' as set_action %}
{% block title %}{% trans "Set Password" %}{% endblock %}
{% block auth_title %}{% trans "Set Password" %}{% endblock %}
{% block auth_subtitle %}
<p class="auth-form-subtitle">{% trans "You currently have no password set." %}</p>
{% endblock %}
{% block auth_content %}
{% include 'partials/auth_form.html' with form=form form_action=set_action submit_label=_('Set Password') %}
{% endblock %}
{% block auth_extra_js %}
<script src="{% static 'js/auth-forms.js' %}" defer></script>
{% endblock %}
