{% extends 'account/base_auth.html' %}
{% load i18n static %}
{% url 'account_reset_password' as reset_action %}
{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block auth_title %}{% trans "Password Reset" %}{% endblock %}
{% block auth_subtitle %}
<p class="auth-form-subtitle">
    {% trans "Enter your email address and we'll send you a link to reset your password." %}
</p>
{% endblock %}
{% block auth_content %}
{% include 'partials/auth_form.html' with form=form form_action=reset_action submit_label=_('Reset My Password') %}
{% endblock %}
{% block auth_footer %}
<p class="auth-form-footer text-center mb-0">
    <a href="{% url 'account_login' %}" class="auth-link">{% trans "Back to sign in" %}</a>
</p>
{% endblock %}
{% block auth_extra_js %}
<script src="{% static 'js/auth-forms.js' %}" defer></script>
{% endblock %}
